 #{'.Loadgin'} {
     display: flex;
     justify-content: center;
     align-items: center;

     p {
         font-size: 3em;
         font-family: arial;
     }
 }

 #{'.users'} {
     padding: 20px 0;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     background: #f2eded;

     &-wrapper {
         width: 70%;
         max-width: 1000px;
         display: flex;
         flex-wrap: wrap;

         &-items {
             width: 23%;
             min-width: 200px;
             margin: 1%;
             background-color: rgb(153, 145, 145);
             padding: 15px;
             box-sizing: border-box;

             &-userImageBox {
                 display: flex;
                 justify-content: center;
                 align-items: center;

                 img {
                     border-radius: 50%;
                     border: solid 10px rgb(231, 223, 223)
                 }
             }

             &-nickName {
                 padding: 15px 0;
                 text-align: center;
                 font-family: arial;

                 span {
                     background: gray;
                     display: block;
                     border-radius: 3px;

                     b {
                         color: white;
                         line-height: 25px
                     }

                 }
             }

             &-phone {
                 span {
                     b {
                         font-family: arial;
                         color: rgb(53, 50, 50);
                         text-align: center;
                         display: block;
                     }
                 }
             }
         }
     }
 }