.Loadgin {
  display: flex;
  justify-content: center;
  align-items: center; }
  .Loadgin p {
    font-size: 3em;
    font-family: arial; }

.users {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #f2eded; }
  .users-wrapper {
    width: 70%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap; }
    .users-wrapper-items {
      width: 23%;
      min-width: 200px;
      margin: 1%;
      background-color: #999191;
      padding: 15px;
      box-sizing: border-box; }
      .users-wrapper-items-userImageBox {
        display: flex;
        justify-content: center;
        align-items: center; }
        .users-wrapper-items-userImageBox img {
          border-radius: 50%;
          border: solid 10px #e7dfdf; }
      .users-wrapper-items-nickName {
        padding: 15px 0;
        text-align: center;
        font-family: arial; }
        .users-wrapper-items-nickName span {
          background: gray;
          display: block;
          border-radius: 3px; }
          .users-wrapper-items-nickName span b {
            color: white;
            line-height: 25px; }
      .users-wrapper-items-phone span b {
        font-family: arial;
        color: #353232;
        text-align: center;
        display: block; }
