#{'.parking'} {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #f2eded;
    padding: 15px;

    &-wrapper {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        &-selector {
            width: 30%;
            height: 100vh;
            overflow: auto;
            background-color: rgb(153, 145, 145);
            padding: 15px;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;


            &-title {
                color: white;

                &-wrapper {

                    h2 {
                        padding: 0;
                        margin: 0 0 10px 0;
                    }

                    span {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

            }

            &-list {
                margin-top: 10px;

                ul {
                    list-style: none;

                    li {
                        padding: 5px;
                        cursor: pointer;
                        line-height: 25px;

                        &:hover {
                            background-color: rgb(136, 136, 136);

                        }
                    }
                }
            }
        }

        &-map {
            width: 69.5%;
            height: 100vh;
        }

    }
}