.parking {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #f2eded;
  padding: 15px; }
  .parking-wrapper {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; }
    .parking-wrapper-selector {
      width: 30%;
      height: 100vh;
      overflow: auto;
      background-color: #999191;
      padding: 15px;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif; }
      .parking-wrapper-selector-title {
        color: white; }
        .parking-wrapper-selector-title-wrapper h2 {
          padding: 0;
          margin: 0 0 10px 0; }
        .parking-wrapper-selector-title-wrapper span {
          cursor: pointer;
          text-decoration: underline; }
      .parking-wrapper-selector-list {
        margin-top: 10px; }
        .parking-wrapper-selector-list ul {
          list-style: none; }
          .parking-wrapper-selector-list ul li {
            padding: 5px;
            cursor: pointer;
            line-height: 25px; }
            .parking-wrapper-selector-list ul li:hover {
              background-color: #888888; }
    .parking-wrapper-map {
      width: 69.5%;
      height: 100vh; }
