.divisaHeader {
  background: #424242;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white; }
  .divisaHeader-wrapper {
    width: 95%; }
    .divisaHeader-wrapper-inside {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px; }
      .divisaHeader-wrapper-inside-logo {
        width: 250px; }
        .divisaHeader-wrapper-inside-logo img {
          width: 100%; }
      .divisaHeader-wrapper-inside-menu {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none; }
        .divisaHeader-wrapper-inside-menu li a {
          color: white;
          padding: 20px 30px;
          border-bottom: solid transparent;
          text-decoration: none; }
          .divisaHeader-wrapper-inside-menu li a:hover {
            border-bottom: solid white; }
