#{'.divisaHeader'} {
    background: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    &-wrapper {
        width: 95%;

        &-inside {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            &-logo {
                width: 250px;

                img {
                    width: 100%;
                }

            }

            &-menu {
                padding: 0;
                margin: 0;
                display: flex;
                list-style: none;

                li {
                    a {
                        color: white;
                        padding: 20px 30px;
                        border-bottom: solid transparent;
                        text-decoration: none;

                        &:hover {
                            border-bottom: solid white;
                        }
                    }
                }
            }
        }

    }
}