.footer {
  background-color: #1a1a1a;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white; }
  .footer-wrapper {
    padding: 20px;
    box-sizing: border-box;
    width: 95%;
    display: flex; }
